			body { text-align: center;
				font-size: 18px;
				font-family: italic, sans-serif;
				background: black; }
			
			p { color: #333;
			  font-size: 20px; }
			
			p.maior { font-weight: bold;
				font-size: 20px;
				margin: 1px 500px 2px 500px;
				padding: 5px;
        border: 10px inset DarkGreen;
        background: white; }
			
			p.espaco { letter-spacing: 7px;
				font-size: 25px;
				text-decoration: underline;
				color: DarkGreen;
				font-weight: 1000;}
					
			p.conta { font-weight: bold;
        background: White;
				border: 10px inset DarkGreen;
				margin: 1px 530px 0px 530px;
        padding: 5px;}
					
			P.espaco:hover { color: #FFF;
				background: green;}
			
			h1 { color: #GGG;
				font-size: 20px;
				background: WhiteSmoke;
				border: 10px inset DarkGreen;
				padding: 15px;
				font-family: arial;}
				
			h1#maior {color: #GGG;
				font-size: 18px;
				margin: 0px 530px 2px 530px;
				padding: 5px; }
			
			h2 { color: #GGG;
				font-size: 30px }
			
			a { color: Blue;
				text-decoration: none; }
				
			a:hover { color: ForestGreen; }
				
			table { border: 2px solid black;
					padding: 2px 5px;
					border-collapse: collapse;
					background: #FFF; }
			
			table.center { margin: 0px 600px 0px 550px; }
			
			th,td { border: 1px solid black;
					padding: 2px 10px 5px; }
			
			td.reproved { color: Red; }
			
			th { background: #DDD; }
			
			caption { font-size: 20px;
					font-weight: bold;
					padding-bottom: 10px;
					text-align: center; }
			
			input { padding: 5px 5px;
					margin: 5px 5px;}
			
			select { padding: 5px 5px;
					margin: 5px 5px;}
			
			button { padding: 10px 10px;
					margin: 10px 10px; }
			
			div.a, div.b { background: #E8E8E8; }
			div.c, div.d { background: #CFCFCF; }